
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>rentcar back</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">


  </head>
<body>


  <form action ="/sendtoback" method="post" class="contact-form">
    <input name="model" type="text" placeholder="modele de votre voiture">
    <input name="brand" type="text" placeholder="marque de votre voiture">
    <input name="city" type="text" placeholder="ville">
    <input name="seats" type="text" placeholder="nombre de places">
    <input type="submit" value="submit">
  </form>
</div>




  </body>
</html>
